
body{
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
    background-color: #F7F5F2;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Prompt', sans-serif;
}

.carousel-item img{
    max-height: 330px;
    object-fit: cover;

}

 .card .card-body img{
     max-height: 340px;
     object-fit: cover;
}

 textarea{
     resize: none;
 }

.logo{
    background-color: #F7F5F2;
    border-radius: 50%;
    padding: 3px
}

footer a{
    text-decoration: none;
    font-size: 1rem;
    color: #e5e5f7;
}

footer a:hover{
    color: #F7F5F2;
}

.logo-footer{
    background-color: #e5e5f7;
    padding: 30px;
    border-radius: 50%;
}

.accordion-button.collapsed {
    color: white;
    background-color: #212529;
}



